$flat-ui-color-sunflower: #F1C40F;
$flat-ui-color-orange: #F39C12;
$flat-ui-color-carrot: #E67E22;
$flat-ui-color-pumpkin: #D35400;
$flat-ui-color-alizarin: #E74C3C;
$flat-ui-color-pomegranate: #C0392B;
$flat-ui-color-turquoise: #1ABC9C;
$flat-ui-color-green-sea: #16A085;
$flat-ui-color-emerland: #2ECC71;
$flat-ui-color-nephritis: #27AE60;
$flat-ui-color-peterriver: #3498DB;
$flat-ui-color-belizehole: #2980B9;
$flat-ui-color-amethyst: #9B59B6;
$flat-ui-color-wisteria: #8E44AD;
$flat-ui-color-clouds: #ECF0F1;
$flat-ui-color-silver: #BDC3C7;
$flat-ui-color-concrete: #95A5A6;
$flat-ui-color-asbestos: #7F8C8D;
$flat-ui-color-wetasphalt: #34495E;
$flat-ui-color-midnight-blue: #2C3E50;