$fluent-design-color-FFB900: #FFB900;
$fluent-design-color-FF8C00: #FF8C00;
$fluent-design-color-F7630C: #F7630C;
$fluent-design-color-CA5010: #CA5010;
$fluent-design-color-DA3B01: #DA3B01;
$fluent-design-color-EF6950: #EF6950;
$fluent-design-color-D13438: #D13438;
$fluent-design-color-FF4343: #FF4343;
$fluent-design-color-E74856: #E74856;
$fluent-design-color-E81123: #E81123;
$fluent-design-color-EA005E: #EA005E;
$fluent-design-color-C30052: #C30052;
$fluent-design-color-E3008C: #E3008C;
$fluent-design-color-BF0077: #BF0077;
$fluent-design-color-C239B3: #C239B3;
$fluent-design-color-9A0089: #9A0089;
$fluent-design-color-881798: #881798;
$fluent-design-color-B146C2: #B146C2;
$fluent-design-color-744DA9: #744DA9;
$fluent-design-color-8764B8: #8764B8;
$fluent-design-color-6B69D6: #6B69D6;
$fluent-design-color-8E8CD8: #8E8CD8;
$fluent-design-color-0063B1: #0063B1;
$fluent-design-color-0078D7: #0078D7;
$fluent-design-color-0099BC: #0099BC;
$fluent-design-color-2D7D9A: #2D7D9A;
$fluent-design-color-00B7C3: #00B7C3;
$fluent-design-color-038387: #038387;
$fluent-design-color-00B294: #00B294;
$fluent-design-color-018574: #018574;
$fluent-design-color-00CC6A: #00CC6A;
$fluent-design-color-10893E: #10893E;
$fluent-design-color-107C10: #107C10;
$fluent-design-color-498205: #498205;
$fluent-design-color-486860: #486860;
$fluent-design-color-567C73: #567C73;
$fluent-design-color-515C6B: #515C6B;
$fluent-design-color-68768A: #68768A;
$fluent-design-color-5D5A58: #5D5A58;
$fluent-design-color-7A7574: #7A7574;
$fluent-design-color-767676: #767676;
$fluent-design-color-4C4A48: #4C4A48;
$fluent-design-color-69797E: #69797E;
$fluent-design-color-4A5459: #4A5459;
$fluent-design-color-647C64: #647C64;
$fluent-design-color-525E54: #525E54;
$fluent-design-color-847545: #847545;
$fluent-design-color-7E735F: #7E735F;