$metro-color-lime: #A4C400;
$metro-color-green: #60A917;
$metro-color-emerald: #008A00;
$metro-color-teal: #00ABA9;
$metro-color-cyan: #1BA1E2;
$metro-color-cobalt: #0050EF;
$metro-color-indigo: #6A00FF;
$metro-color-violet: #AA00FF;
$metro-color-pink: #F472D0;
$metro-color-magenta: #D80073;
$metro-color-crimson: #A20025;
$metro-color-red: #E51400;
$metro-color-orange: #FA6800;
$metro-color-amber: #F0A30A;
$metro-color-yellow: #E3C800;
$metro-color-brown: #825A2C;
$metro-color-olive: #6D8764;
$metro-color-steel: #647687;
$metro-color-mauve: #76608A;
$metro-color-sienna: #A0522D;